{% extends "base.html" %}

{% block title %}{{genre.genre}} Books{% endblock %}

{% block content %}
<nav>
	{% if login_session['username'] %}
	<p class="nav-signin-signout right" onclick="signOut();">Sign Out</p>
	<script>
			function signOut() {
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function() {
					console.log("User signed out.");
				});
				$.ajax({
					type: 'GET',
					url: '/gdisconnect',
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result) {
							window.location.href = "/genres";
						}
				});
			}
	</script>
	{% else %}
	<a class="nav-signin-signout right" href="/login">Log In With Google</a>
	{% endif %}
	<a class="list-link" href="/genres">Genres</a>

</nav>

<h1 class="section-title">{{genre.genre}} Books</h1>

<ul class="list">
{% for book in books %}
	<li><a class="list-link" href="{{url_for('getBook', genre_id=genre.id, book_id=book.id)}}">{{book.title}}</a></li>
{% endfor %}
</ul>
<br>

<a class="function-link" href="{{url_for('createBook', genre_id=genre.id)}}">Create a book</a>

{% endblock %}

{% block footer %}{% endblock %}